<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .title {
            text-align: center;
        }
        table {
            margin: auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<p>This is Cars</p>
<a href="/">Go to Hello</a>

<h1 class="title">Car List</h1>

<table>
    <caption>List of Cars</caption>
    <thead><tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
    </tr></thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.yearOfManufacture}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>