<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<p>This is Cars</p>

<a href="/">Go to Hello</a>

<h1 align="center"> Car List</h1>
<table border="1" align="center" cellpadding="10" cellspacing="0">

    <thead>
    <tr>
        <th align="center">brand</th>
        <th align="center">model</th>
        <th align="center">yearOfManufacture</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td align="center" th:text="${car.brand}"></td>
        <td align="center" th:text="${car.model}"></td>
        <td align="center" th:text="${car.yearOfManufacture}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>